@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

* {
  box-sizing: border-box;
}


.top {
  height: 150px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TopText {
  color: black;
}

.middle {
  flex-grow: 1;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.circle {
  display: flex;
  height: 400px;
  width: 400px;
  border: solid black 1px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.firsttext {
  color: black;
}
.secondtext {
  color: black;
}
.topic {
  color: black;
}
.timer {
  color: black;
}
.bottom {
  height: 150px;
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.stats {
  color: black;
}
.random {
  color: black;
}
.new {
  color: black;
}
.notes {
  color: black;
}
.profile {
  color: black;
}